LOGIN=yourlogin
DOMAIN_NAME=yourlogin.42.fr

MARIADB_ROOT_PASSWORD=change_me_root_password
MARIADB_DATABASE=inception
MARIADB_USER=wpuser
MARIADB_PASSWORD=change_me_db_password

WP_TITLE=Inception WordPress
WP_ADMIN_USER=manager42
WP_ADMIN_PASSWORD=change_me_admin_password
WP_ADMIN_EMAIL=manager42@example.com
WP_USER=student42
WP_USER_PASSWORD=change_me_user_password
WP_USER_EMAIL=student42@example.com
